.containerDiv
{
    left: 0;
    opacity: .7;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35%;
}

@media (min-width:700px)
{
    .containerDiv
    {
        text-align: center;
        margin-top: 25%;
    }
    .containerDiv input{
        width: 20%
    }
}

@media (max-width: 450px)
{
    .containerDiv
    {
        display: grid;
        grid-template-rows: 50% 50%;
    }

    .AddProductDiv
    {
        margin-bottom: 0px;
    }

    .OrderProductDiv
    {
        margin-top: 0px;
    }
}