.containerDiv
{
    opacity: .7;
    display: flex;
    text-align: center;
    justify-content: center;
 
}

@media (min-width:700px)
{  
    .containerDiv input{
        width: 20%
    }
}

@media (max-width: 450px)
{
    .containerDiv
    {
        display: inline-block;
    }

    .AddProductDiv
    {
        margin-bottom: 0px;
    }

    .OrderProductDiv
    {
        margin-top: 0px;
    }
}