.SideBar{
    height: 100%;
    left: 0px;
    box-sizing: border-box;
    transition: transform 0.3 ease-out;
    z-index: 300;
} 

.BottomBar
{
    position: relative;       
    box-sizing: border-box;
    transition: transform 0.3 ease-out;
    z-index: 300;
    display: none;
}

.MenuBar{
    list-style:  none;
    padding: 0px;
    margin: 0px;
}

.MenuBar li{
    width: 100%;
    text-align: center;
    border: none;
    font-size: 25px;
}

.Open{
    transform:  translateY(0);
}
.Close{
    display: none;
}

@media(max-width: 450px)
{
    .SideBar{
        display: none;
    }

    .BottomBar{       
        display: inline-flex;
    } 

    .RedirectContainer
    {
        margin: auto;
    }
}